.BarPlotContainer {
    background: #FFFFFF;
    padding: 2px 5px 5px 5px;
    height: 10vh;
    width: 10vw;
}

.ScatterPlotContainer {
    background: #FFFFFF;
    height: 20vh;
    width: 20vw;
    border: 2px;
    border-style: solid;
    border-color: black;    
    padding: 2px 5px 5px 5px;
}
.ScatterPlotContainerCorr {
    background: #FFFFFF;
    height: 10vh;
    width: 10vw;
    border: 2px;
    border-style: solid;
    border-color: black;    
    padding: 2px;
}

.DataIssueBarContainer {
    background: #FFFFFF;
    height: 12vh;
    width: 10vw;
    border: 2px;
    border-style: solid;
    border-color: black;    
    padding: 2px 5px 5px 5px;
}

.DataIssueAreaContainer {
    background: #FFFFFF;
    height: 12vh;
    width: 10vw;
    border: 2px;
    border-style: solid;
    border-color: black;    
    padding: 2px 5px 5px 5px;
}

.AreaPlotContainer {
    background: #FFFFFF;
    height: 12vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}